@use "../../custome" as *;

@mixin desk {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @mixin tab2 {
      @media(max-width: 740px){
          @content;
      }
  }
@mixin tab {
    @media (max-width: 990px) {
      @content;
    }
  }
  @mixin  mobile {
    //   414px
    @media (max-width: 500px) { 
      @content;
    }
  }
  @mixin  mobile-sm {
    //   414px
    @media (max-width: 360px) { 
      @content;
    }
  }
// ------------------------------------------------------------------
body{
  color:white;
}
.ui-main{
    width: 100%;
    height: 100vh;
 color: white;
text-align: center;
}
.ui-img-container{
  width: 100%;
  height: auto;
  // background: red;
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: row;
}

.taj{
  width: 550px;
  height: 310px;
  margin: 20px;
  border-radius: 10px;
}
#ui-text{
  width: 80%;
  height: auto;
 margin: 0 auto;
 text-align: center;
}
@include desk{
  .taj{
    border-radius: 10px;
    width: 460px;
    height: 300px;
  }
}
@include tab{
  // #ui-text{
  //   color: red;
  // }
  .taj{
    border-radius: 10px;
    width: 500px;
    height: 300px;
  }
    .ui-img-container{
      display: flex;
      flex-direction: column;
      
    }  
}
@include mobile{
  
    .ui-img-container{
      display: flex;
      flex-direction: column;
      // background: red;
      .taj{
        border-radius: 10px;
        width: 360px;
        height: 220px;
      }
    }
  
}

@include mobile-sm{

  .ui-img-container{
    display: flex;
    flex-direction: column;
    .taj{
      border-radius: 10px;
      width: 350px;
      height: 200px;
    }
  }
}